<ion-view title="Agenda" id="page1" style="background-color:#156BD8;">
    <ion-content padding="true" class="has-header" >
        <label class="item item-input">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" placeholder="Pesquisar" ng-model="pesquisar">
        </label>
        <div class="spacer" style="width: 300px; height: 4px;"></div>
            <ion-toggle toggle-class="toggle-positive" ng-model="favorito" ng-change="filtrarContatosFavoritos()">Favoritos</ion-toggle>
            <div class="spacer" style="width: 300px; height: 13px;"></div>
            <button class="button button-block button-positive" ng-click="exibirAguarde()">Exibir Aguarde</button>
            <button class="button button-block button-assertive" ng-click="habilitarExclusao()">Excluir</button>
            <ion-list show-delete="permitirExcluir">
              <ion-item class="item-icon-left item-icon-right positive" ng-repeat="contato in contatos | filter:pesquisar ">
                  <ion-delete-button class="icon ion-minus-circled" ng-click="excluirContato(contato)"></ion-delete-button>
                  <i class="icon ion-ios-contact"></i>{{contato.nome}}<br>
                  <i class="icon ion-ios-heart" ng-if="contato.favorito"></i>{{contato.telefone}}
              </ion-item>
            </ion-list>
            <button class="button button-block button-positive" ng-click="abrirTelaContato()">Novo</button>
            <!-- MODAL NOVO CONTATO -->
            <script id="contato.html" type="text/ng-template">
              <ion-modal-view>
                <ion-header-bar class="bar bar-header bar-positive">
                  <h1 class="title">Novo Contato</h1>
                </ion-header-bar>
                <ion-content>
                  <div class="list">
                    <form id="contato-form" class="list">
                        <label class="item item-input item-stacked-label">
                          <span class="input-label">Nome</span>
                          <input type="text" placeholder="Nome" ng-model="contato.nome">
                        </label>
                        <label class="item item-input item-stacked-label">
                          <span class="input-label">Telefone:</span>
                          <input type="text" placeholder="Telefone" ng-model="contato.telefone">
                        </label>
                        <label class="item item-input item-stacked-label">
                          <span class="input-label">Favorito:</span>
                          <label class="toggle">
                             <input type="checkbox" ng-model="contato.favorito">
                             <div class="track">
                               <div class="handle"></div>
                             </div>
                          </label>
                        </label>
                        <div class="spacer" style="width: 300px; height: 12px;"></div>
                        <div class="button-bar">
                          <button class="button button-assertive" ng-click="cancelarContato()">Cancelar</button>
                          <button class="button button-positive" ng-click="salvarContato(contato)">Salvar</button>
                        </div>

                   </form>
                  </div>
                </ion-content>
              </ion-modal-view>
            </script>
    </ion-content>
</ion-view>
