<ion-view title="Sobre" id="page2" style="background-color:#156BD8;">
    <ion-content padding="true" class="has-header">
        <div>
            <img class="animated flash" src="img/avQ0gr8MT9l98CU6vknQ_ionic.jpg" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <h3 id="sobre-heading3" style="color:#000000;text-align:center;">App Agenda</h3>
        <div id="sobre-markdown2" style="color:#FFFFFF;text-align:center;">
            <p>Desenvolvido por
                <strong>Hélder José</strong>
            </p>
        </div>
        <div id="sobre-markdown3" style="color:#FFFFFF;text-align:center;">
            <p>2016</p>
        </div>
    </ion-content>
</ion-view>
